:root {
    --with--left: 230px;
    --main--color: #244cbb;
    --catalog--color: #f7c947;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Asap', sans-serif;
    box-sizing: border-box;
    justify-content: center;
    display: flex;

}
.note_hover{
    position: absolute;
    top: -40px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    font-weight: 300;
    min-width: 60px;
    right: 50%;
    text-align: center;
    border-radius: 4px;
    transform: translateX(50%);
    padding: 2px 3px;
    color: var(--active-color);

}
.note_hover::before{
    content: "";
    position: absolute;
    border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
    border-width: 5px 5px;
    border-style: solid;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
}
.btn {
    color: var(--active-color);
    font-size: 1.8rem;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 12px;
    position: relative;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.btn-active{
    color: var(--praimary-color);
}
/* === MODAL ====*/
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
    display: none;
}
.hover:hover{
    opacity: 0.8;
}